@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fontlibrary.org/face/bagnard');

:root {
	--mq-medium: 880px;
	--mq-small: 550px;

	--primary: #B1B4C3;
	--primary-hover: rgba(177, 180, 195,.25);
	--secondary: white;
	--background: #FCFCFD;
	--peach: #DAA595;
	--peach-hover: rgba(218, 165, 149, 0.25);
	--dark: #524849;

	--main-spacing: 64px;
    --gap-spacing: 40px;
    --header-height: 80px;
    --hero-spacing: 240px;
	--centered-width: 90%;
	
}

@media (max-width: 880px) {
    :root {
        --main-spacing: 40px;
        --gap-spacing: 32px;
        --hero-spacing: 120px;
        --centered-width: 75%;
    }
}

@media (max-width: 550px) {
    :root {
        --main-spacing: 32px;
		--hero-spacing: 80px;
		--centered-width: 100%;
    }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 2px 0 2px;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	color: var(--dark);

	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),auto;
}

main {
	max-width: 37.5em;
	margin: 0 auto;
	width: var(--centered-width)
}

p,
pre,
code {
	line-height: 1.5;
}

a[href] {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

a[href]:hover {
	color: var(--peach);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

header, footer {
	align-items: center;
	text-align: center;
}

footer i{
	margin: 0 6px;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Typography */

body {
font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, serif;
}

h1, h2, h3, em {
	font-family: 'BagnardRegular', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

h1, h2 {
	text-align: center;
}

h4 {
	font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: .8em;
	font-weight: normal;
	color: var(--dark);
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em .25em .25em;
	text-transform: lowercase;
	letter-spacing: 1px;
}

header nav li a {
	padding: .25em .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	color: var(--peach);
}

header nav li a:hover  {
	color: var(--peach);
}

/* Footer */

footer {
	max-width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-spacing);
	align-items: center;

}

@media (max-width: 550px){
	footer{
		display: grid;
		grid-template-columns: 1fr;
	}
}



/* Home */

.platforms-list__container {
width: 70%;
min-width: 350px;
margin: auto;
margin-bottom: 2em;
padding: 0;
box-sizing: border-box;
}

.platform-list {
	width: 100%;
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
	padding: 0.5em;
}

.music-link__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0.6em;
	overflow: hidden;
}

.music-link__logo {
	float: left;
	width: 7em;
}

.music-link__button {
	float: right;
	width: auto;
    padding: 0.5em 1em;
    background: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: bold;
    border-radius: 3px;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, serif;
	text-transform: none;
	letter-spacing: 0;
	font-size: 12px;
}

section.listen li{
	padding: 0;
	list-style: none;
}

/* Lyric Accordion */

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
	background-color: var(--background);
	color: var(--dark);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	border-radius: 0%;
	border-bottom: 1px solid var(--primary);
	transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	color: var(--peach);
	background-color: var(--background);
	border: none;
	border-bottom: 1px solid var(--peach);
  }
  
  /* Style the accordion panel. Note: hidden by default */

  .panel {
	padding: 18px;
	max-height: 0;
	display: none;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	float: right;
	margin-left: 5px;
	color: var(--primary);
  }
  
  .active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
	color: var(--peach);
  }

/* Posts List */
article, .article {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

time {
	font-family: Inconsolata;
	font-size: .8em;
	text-transform: uppercase;
	color: var(--primary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

.summary {
	color: var(--primary)
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact */
.full-width{
	width: 100%;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Inconsolata", sans-serif;
border-radius: 3px;
}

input,
textarea {
	border: 1px solid var(--primary);
}

button {
	border: 1px solid var(--primary);
	background-color: var(--background);
	color: var(--primary);
	border-radius: 3px;
	cursor: pointer;
	width: auto;
	margin: auto;
	font-size: .9rem;
	letter-spacing: 1px;
}

.btn-outline {
	border: 1px solid var(--primary);
	background-color: var(--background);
	color: var(--primary);
	cursor: pointer;
	width: auto;
	margin: auto;
}

button:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);

}

/* Videos */

.yt-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin: 1em;
  }
  .yt-container iframe, .yt-container object, .yt-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
  }

/* Grid */
section.grid {
    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-spacing);
    align-items: center;
}

section.grid p {
    margin: 20px 0 20px 0;
}

section.grid img {
    width: 100%;
}

/* Centered */
section.centered {
    text-align: center;
    width: var(--centered-width);
    margin-left: auto;
    margin-right: auto;
}

/* Testimonial */ 

section.testimonial {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
    grid-gap: var(--gap-spacing);
}

.testimonial img {
	display: block;
	margin: 0 auto 16px auto;
	height: 75px;
	width: 75px;
	padding: 5 px;
	border-radius: 100px;
	
}

.testimonial p {
	padding: 12px;
	font-style: italic;
}

.testimonial small {
	font-style: normal;
}

/* Media Queries */

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

}

@media (max-width: 800px) {

	section.testimonial {
		grid-template-columns: 1fr 1fr;
		margin: auto;
	}

	.testimonial div {
		margin: 20px 0;
	}
}


@media (max-width: 550px) {
	main {
		width: 100%;
	}

	section.grid{
		display: block;
		grid-template-columns: 1fr;
		margin: var(--main-spacing);
	}

	section.testimonial{
		display: block;
		grid-template-columns: 1fr ;
		margin: auto;
	}

	.testimonial div {
		margin: 20px 0;
	}

}