<section class="accordion-wrapper">
	{% for lyrics in lyricAccordion %}
  <button class="accordion">
    {% if lyrics.songtitle %}
		  {{ lyrics.songtitle }}
    {% endif %}
  </button>
  <div class="panel">
    <p>
        {% if lyrics.lyrics %}
					{{ lyrics.lyrics | safe }}
				{% endif %}
    </p>
  </div>
	{% endfor %}
</section>

  {% set js %}
    {% include "assets/js/accordion.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script> 