<section class="accordion-wrapper">
	{% for lyricAccordion in releases %}
  <button class="accordion">
    title
		  {{ songtitle }}
  </button>
  <div class="panel">
    <p>
		    lyrics
        {{ lyrics }}
    </p>
  </div>
	{% endfor %}
</section>

  {% set js %}
    {% include "assets/js/accordion.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>