<section class="accordion-wrapper">
	{% for post in releases %}
  <button class="accordion">
    {% if releases.data.songtitle %}
		  {{ releases.data.songtitle }}
		{% endif %}
  </button>
  <div class="panel">
    <p>
      {% if release.data.lyrics %}
		    {{ release.data.lyrics }}
		  {% endif %}
    </p>
  </div>
	{% endfor %}
</section>

  {% set js %}
    {% include "assets/js/accordion.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>