<footer>
  <a href="https://www.facebook.com/alexiaavinamusic"><i class="fab fa-facebook"></i></a>
  <a href="https://www.patreon.com/alexiaavina"><i class="fab fa-patreon"></i></a>
  <a href="https://instagram.com/alexiaavina"><i class="fab fa-instagram"></i></a>
  <a href="https://www.youtube.com/channel/UCsW7L3cA0aq86M_KwKQEKwQ"><i class="fab fa-youtube"></i></a>
  <a href="https://alexiaavina.bandcamp.com/"><i class="fab fa-bandcamp"></i></a>
  <a href="https://music.apple.com/us/artist/alexia-avina/1338781702"><i class="fab fa-apple"></i></a>
  <a href="https://soundcloud.com/alexiaavina"><i class="fab fa-soundcloud"></i></a>
  <a href="https://open.spotify.com/artist/08SD2vwQpHuHq8IiTM180I"><i class="fab fa-spotify"></i></a>
</footer>
