---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

<h1>Releases</h1>
{% set postslist = collections.releases %}
{% include "components/postslist.njk" %}

<h1>Press</h1>

{% set postslist = collections.press %}
{% include "components/postslist_press.njk" %}

{{ layoutContent | safe }}